@using Microsoft.AspNetCore.Components.Authorization
@using System.ComponentModel.DataAnnotations
@using BlazorChatSignalR.Client.Models
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IHttpContextAccessor HttpContentAccessor

<div class="container-navbar">
    <div class="info-group">
        <div class="title">BlazorChatApp <br />SignalR</div>
        <a class="account" href="#">
            <img class="info-control thumbnail" src="sources/avatar.jpg" />
            <div class="info-control account-name">@FullName</div>
        </a>
    </div>
    <div class="navigation">
        <div class="item">
            <NavLink class="item-link" href="list-chat" Match="NavLinkMatch.All">
                <span>
                    <img class="icon" src="icon/list.svg" />
                    List
                </span>
            </NavLink>
        </div>
        <div class="item">
            <NavLink class="item-link" href="Weather">
                <span>
                    <img class="icon" src="/icon/collection.svg" />
                    Groups
                </span>
            </NavLink>
        </div>
        <div class="item">
            <NavLink class="item-link" href="">
                <span>
                    <img class="icon" src="/icon/box-arrow-left.svg" />
                    Sign out
                </span>
            </NavLink>
        </div>
    </div>
</div>

@code {
    string FullName = "Undefined";
    protected override void OnInitialized()
    {
        FullName = HttpContentAccessor.HttpContext.User.Identity.Name;
    }
}