<div class="container-navbar">
	<div class="info-group">
		<div class="title">BlazorChatApp <br />SignalR</div>
		<a class="account" href="#">
			<img class="info-control thumbnail" src="sources/self.png" />
			<div class="info-control account-name">CaO NhAt HaO</div>
		</a>
	</div>
	<div class="navigation">
		<div class="item">
			<NavLink class="item-link" href="" Match="NavLinkMatch.All">
				<span>
					<img class="icon" src="icon/list.svg" />
					List
				</span>
			</NavLink>
		</div>
		<div class="item">
			<NavLink class="item-link" href="Weather">
				<span>
					<img class="icon" src="/icon/collection.svg" />
					Groups
				</span>
			</NavLink>
		</div>
	</div>
</div>